body {
    margin: 0px;
    padding: 0px;
}
.mainpage{
    width: 100%;
}
h1 {
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    transition: 1s;
    color: dodgerblue;
    text-align: center;
}
.heading{
    /* background-color: rgb(60, 156, 230); */
    border-radius: 10px;
    width: 100%;
    height: 100x;
    transition: 1s;
}
h1:hover{
    color: dodgerblue;
}
.heading:hover{
    /* background-color: white; */
    /* border: 3px solid dodgerblue; */
}
.heading:hover h1{
    color: black;
}
.mainpage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.clock {
    padding: 20px;
    display: flex;
    font-size: 60px;
    transition: 1s;
}

.clock:hover{
    color: dodgerblue;
}

.hourhand,
.minutehand,
.secondshand {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.buttons {
    display: flex;
    width: 70%;
    /* padding: 70px; */
    justify-content: space-around;
}

.button {
    background-color: dodgerblue;
    color: white;
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    transition: 1s;
}
.button:hover{
    background-color: white;
    color:dodgerblue;
    cursor: pointer;
    border: 1px solid dodgerblue;
}
#startbtn{
    color:green;
}
#stopbtn{
    color:red;
}
#resetbtn{
    color:yellow;
}
