/* body with 0 margin and padding */
body {
    margin: 0px;
    padding: 0px;
}

/* upper most header div */
.mainpage {
    width: 100%;
}

/* designing Stopwatch header */
h1 {
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    transition: 1s;
    color: dodgerblue;
    text-align: center;
}

.heading {
    border-radius: 10px;
    width: 100%;
    height: 100x;
    transition: 1s;
}

/* on hovering the heading  */
h1:hover {
    color: dodgerblue;
}

.heading:hover h1 {
    color: black;
}

/* desining the mainpage */
.mainpage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* styling the clock with hour, min and second */
.clock {
    padding: 20px;
    display: flex;
    font-size: 60px;
    transition: 1s;
}

/* styling on hovering the clock timer */
.clock:hover {
    color: dodgerblue;
}

/* styling the timer */
.hourhand,
.minutehand,
.secondshand {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/* styling the button's parent div */
.buttons {
    display: flex;
    width: 70%;
    /* padding: 70px; */
    justify-content: space-around;
}

/* styling the buttons */
.button {
    background-color: dodgerblue;
    color: white;
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    transition: 1s;
}

/* on hovering the buttons */
.button:hover {
    background-color: white;
    color: dodgerblue;
    cursor: pointer;
    border: 1px solid dodgerblue;
}

/* Start button color */
#startbtn {
    color: green;
}

/* Stop button color */
#stopbtn {
    color: red;
}

/* Reset button color */
#resetbtn {
    color: yellow;
}